.footer {
  margin-top: 50px;
  background: linear-gradient(to bottom, #359ffb, #2d7ee9);
  padding: 40px;
  color: #000;
  font-family: "Arial", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.email-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.email-input input {
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1;
  border-radius: 5px 0 0 5px;
}

.email-input button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.social-icons {
  margin-top: 20px;
}

.social-icons .fa {
  font-size: 24px;
  margin-right: 15px;
  color: black;
  transition: color 0.3s ease;
}

.social-icons .fa:hover {
  color: #4facfe;
}

.menu-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.menu-list,
.support-list {
  list-style: none;
  padding: 0;
}

.menu-list li,
.support-list li {
  margin-bottom: 8px;
}

.footer-center,
.footer-right {
  margin-top: 20px;
}

.footer-center ul,
.footer-right ul {
  padding-left: 0;
}

.footer-center li,
.footer-right li {
  margin-bottom: 8px;
}
