.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #87add3;
    color: #0f1010;
  }
  
  .header .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header ul li {
    margin: 0 1rem;
  }
  
  .header ul li a {
    text-decoration: none;
    color: #ecf0f1;
  }
  
  .header ul li a:hover {
    color: #3498db;
  }
  