body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
  }
  

  .main{
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 350px; 
    margin-left: 30px;
    position: absolute;
  
  }

.main h1 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 20px;
    letter-spacing: 1px;
  } 
  
  p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #fff;
  }
  
  .app {
    height: 100vh;
    width:100vw;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  
  .navbar {
    width: 100%;
    position: relative;
    margin-top: 10px;
  }
  
  .nav-content {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    width: 170px;
    margin-top: -30px; 
  }
  
  .loginbtn {
    background-color: #2F80ED; 
    color: white; 
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: large;
    margin-right: 20px;
  }
  
 .btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .btn {
    background-color: #fff;
    color: #2F80ED;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #56CCF2;
    color: #fff;
  }
  
  