.slider {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin: 0px 45px 20px 45px;
}

.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
  filter: blur(20px);
}

.background-blur-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.video-container {
  position: relative;
  width: 90%;
  height: 90vh;
  margin: 80px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  background: rgba(255, 255, 255, 0.1); /* Fallback for transparency */
  backdrop-filter: blur(10px);
}

.foreground-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 2;
  width: 35%;
  text-align: justify;
}

.text-overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: left;
}

.text-overlay p {
  font-size: 1.2rem;
}

.read-more {
  padding: 0.7rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  background-color: #0056b3;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.dot.active {
  opacity: 1;
}

@media (max-width: 768px) {
  .text-overlay h1 {
    font-size: 2rem;
  }

  .text-overlay p {
    font-size: 1rem;
  }

  .read-more {
    padding: 0.5rem 1rem;
  }

  .video-container {
    width: 90%;
    height: 70%;
  }
}

.button {
  background: linear-gradient(to top, #f2709c, #ff9472);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: linear-gradient(to bottom, #f2709c, #ff9472);
  color: white;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
